* {
    font-family: Tahoma, Brutel, Verdana, sans-serif; /*todo: investigate how this works-->*/
    font-weight: 700;
    /* border: 1px dashed; */
}

.section-one {
    background-color: rgb(22, 49, 71);
    padding-bottom: 5vh;
}

/* section one - header */
.header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5vh;
    height: 10vh;
}


.header-logo {
    flex: 2;
    justify-content: center;
    padding-left: 2vh;
    padding-top: 2vh;
}

.header-links-container {
    display: flex;
    justify-content: end;
    flex: 2;
    font-size: 3vh;
    padding-top: 2vh;
    padding-right: 2vh;
    /* border: red dotted 2px; */
}

.header-links {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-left: 2.6vh;
    padding-right: 2.6vh;
    color: gold;
    font-weight: 500;
}

a:hover {
    color: darkgoldenrod;
}

/* section one - left right box */

.section-one-left-right-box {
    background-color: rgba(163, 143, 32, 0.83);
    border: 5px double goldenrod;
    padding: 2vh;
    display: flex;
    flex: 1 2;
    flex-direction: row;
    color: white;
    margin-left: 10vh;
    margin-right:10vh;
    justify-content: space-evenly;
}

#obvious-text {
    color: aliceblue;
}

.section-one-left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-one-right-box {
    display:flex;
    justify-content: center;
    align-items: center; /*causes vertical alignment because its the cross axis in this flexbox!*/
}

.section-header {
    font-size: 5vh;
}

#dog-text {
    color: #0C294A;
    font-size: 1.5vh;
}
/* section two */

.section-two {
    padding-bottom: 40vh;
    background-color: #454343;
}


#what-kind-title { /*Great way to make it centered quickly*/
    display: flex;
    font-size: 13vh;
    justify-content: space-evenly;
    color: #BFBF19;
}

.type-flexbox {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    align-items: flex-start;
}

.pic-and-type-box {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 105vw;
    overflow: hidden;
    /* border: #0080ff double 5px; */
}

.cat-type-pictures {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30vw;
    object-fit: cover;
    height: 15vw;
    overflow: hidden;
    clip-path: circle();
}

#first-cat {
    object-position: 4vw 20%;
}


#second-cat {
    object-position: 1vw -15vw;;
}

#third-cat {
    object-position: -2vw -3vw;

}

#fourth-cat {
    object-position: 2vw -1vw;

}

.subtitle-text {
    text-align: center;
    width: 20vw;
    height: available;
    color: goldenrod;
    font-size: 3vh;
}

/* section three */

.section-three {
    padding-bottom: 300px;
}
/* section two */

.center-kitties {
    display: flex;
    padding: 0.2vh;
    align-content: space-between;
    min-height: 15vh;
    max-height: 40vh;
}
.section-four {
    padding-bottom: 300px;
}

